<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1084783160539-5p71hfbgr8hc2metjgpppivb46actga4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1084783160539-5p71hfbgr8hc2metjgpppivb46actga4</string>
	<key>API_KEY</key>
	<string>AIzaSyD-IYXZc_9dr_4KQm4rXTwCBnhAtwY3HGE</string>
	<key>GCM_SENDER_ID</key>
	<string>1084783160539</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tecsup.Spotify</string>
	<key>PROJECT_ID</key>
	<string>spotify-35e7f</string>
	<key>STORAGE_BUCKET</key>
	<string>spotify-35e7f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1084783160539:ios:c4f49521c71433c574b0fe</string>
</dict>
</plist>